.project-button {
  list-style: none;
  margin: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), 0 0 6px rgba(0, 0, 0, 0.2);
  padding: 1rem;
}

.project-button button {
  padding: 0;
  border: 0;
  background: none;
}

.project-button button img {
  width: 50px;
}

.project-button.selected {
  background: #0078d7;
}
