// - Created by elliot on 14/12/2016.
html
    // -
    head
        link(rel = 'stylesheet' href = '//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')/
        // use async Attribute when its a script tag
    body

        container.page-wrapper
            // -
            container.nav-bar
                // - Icon here
                .nav-bar__menu
                    .nav-bar__menu--items
                        h1.
                            about
                        h1.
                            work
                        h1.
                            lab
                        h1.
                            contact
            // -
            container.content
                //- Move links into its own container
                .links
                    i.fa.fa-twitter(aria-hidden = 'true')

                    i.fa.fa-linkedin(aria-hidden = 'true')

                    i.fa.fa-codepen(aria-hidden = 'true')

                    i.fa.fa-github(aria-hidden = 'true')

                .content__about
                    img()
                    h1.
                        hello, I'm Elliot
                    p.
                        something cool here
            // -
            container.footer
                .footer__contents
                    h3.footer__contents--madeby made by: Elliot Evans with the help of
                        span.sr-only coffee
                        i.fa.fa-coffee(aria-hidden = 'true').
                            &amp;
                        span.sr-only music
                        i.fa.fa-headphones(aria-hidden = 'true')

                    h3.footer__contents--cookies this site uses cookies
                        i.fa.fa-cookies(aria-hidden = 'false')
