<section class="content__hello hello">  
    <main class="hello__main">

        <figure class="hello__figure">
            <img src="{{personalImage}}" alt="{{personalImageAlt}}" width="304" height="228">
            <figcaption>{{personalImageText}}</figcaption>
        </figure>

        <header class="hello__header">
            <h1> {{heading}} </h1>
            <h2> {{subJeading}} </h2>
        </header>

        <article class="hello__content">
            <p> {{shortDescription}} </p>
            <aside> Site Showcases what I can do</aside>
        </article>

    </main>
</section>