<section class="content__hello hello">  
    <main class="hello__main">

        <figure class="hello__figure">
            <img class="hello__figure--img" src="{{$ctrl.personalImage}}" alt="{{$ctrl.personalImageAlt}}">
            <figcaption class="hello__figure--caption">{{$ctrl.personalImageText}}</figcaption>
        </figure>

        <header class="hello__header">
            <h1 itemprop="heading"> {{$ctrl.heading}} </h1>
            <h2 itemprop="sub-heading"> {{$ctrl.subHeading}} </h2>
        </header>

        <article class="hello__content">
            <p itemprop="description"> {{$ctrl.shortDescription}} </p>
            <aside itemprop="description"> {{$ctrl.longDescription}} </aside>
        </article>

    </main>
</section>