<section class="content__hello hello">  
    <main class="hello__main">

        <figure class="hello__figure">
            <img src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAAdxAAAAJDBkMTc4YTEwLTk5NDAtNGViMS1hNTBmLWMyNzc2YzRjZWY1Mw.jpg" alt="The Pulpit Rock" width="304" height="228">
            <figcaption>Image</figcaption>
        </figure>

        <header class="hello__header">
            <h1> Hello I'm Elliot </h1>
            <h2> Welcome to my site</h2>
        </header>

        <article class="hello__content">
            <p> The site is a portoflio of my work </p>
            <aside> Site Showcases what I can do</aside>
        </article>

    </main>
</section>