.background-view {
    position: absolute;
    padding: 0;
    margin: 0;
    top: 16vh;
    left: 5vw;
    width: 88vw;
    height: 68vh;
    background: rgba(255, 255, 255, 0.1);
}

.background-view__view-previous, .background-view__view-next {
    background: none;
    border: none;
    position: absolute;
    font-size: 4em;
    z-index: 999999;
}

.background-view__view-previous:focus, .background-view__view-next:focus {
    outline: none;
}

.background-view__view-previous {
    top: 25vh;
}

.background-view__view-next {
    top: 25vh;
    right: 0vw;
}

.background-view__view-previous .sr-only, .background-view__view-next .sr-only {
    font-size: 0.2em;
}
.background-view__view-previous .sr-only {
    padding-left: 6px;
}
.background-view__view-next .sr-only {
    padding-right: 16px;
}