<section class="content__portfolio portfolio">  

    <header class="portfolio__header">
        <h1> {{heading}} </h1>
        <h2> {{subHeading}} </h2>
    </header>
    
    <article class="portfolio__content">
        <figure class="portfolio__content--imgcontainer" ng-repeat="portfolio in portfolios track by portfolio.id">
            <img class="portfolio__content--img" src="{{portfolio.mainImage}}" alt="{{portfolio.title}}">
            <figcaption class="portfolio__content--imgcaption">
                {{portfolio.title}}
            </figcaption>
        </figure>
    </article>

</section>
