.portfolio {
    background: antiquewhite;
}
.portfolio__header {
    background: hotpink;
    text-align: center;
}
.portfolio__content {
    display: flex;
    flex: 1 1 auto;
}
.portfolio__content--imgcontainer {
    border: 1px solid blueviolet;
    background: aliceblue;
}
.portfolio__content--img {
    max-width: 100%;
    height: auto;
}
.portfolio__content--imgcaption {
    color: fuchsia;
}

.content__portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: aquamarine;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}