<section class="content__about">
    <!--<aside class="about__links">
        <i class="fa fa-twitter" aria-hidden="true"></i>
        <i class="fa fa-linkedin" aria-hidden="true"></i>
        <i class="fa fa-codepen" aria-hidden="true"></i>
        <i class="fa fa-github" aria-hidden="true"></i>
    </aside>-->
    <header class="about__header">
        <h1>hello, I'm Elliot</h1>
    </header>
    <article class="about__content">
        <p>something cool here</p>
    </article>
    <aside class="about_languages">
        <p class="about__language--name">HTML</p>
        <img class="about__language--image" src="./html_logo.png" alt="">
        <p class="about__language--name">CSS</p>
        <img class="about__language--image" src="./css_logo.png" alt="">
        <p class="about__language--name">Javascript</p>
        <img class="about__language--image" src="./javascript_logo.png" alt="">
        <p class="about__language--name">PHP</p>
        <img class="about__language--image" src="./php_logo.png" alt="">
    </aside>
    <aside class="about_frameworks">
        <p class="about__language--name">PUG</p>
        <img class="about__language--image" src="./pug_logo.png" alt="">
        <p class="about__language--name">Bootstrap</p>
        <img class="about__language--image" src="./bootstrap_logo.png" alt="">
        <p class="about__language--name">Angular</p>
        <img class="about__language--image" src="./angular_logo.png" alt="">
        <p class="about__language--name">Laravel</p>
        <img class="about__language--image" src="./laravel_logo.png" alt="">
    </aside>
</section>