<main class="content__about">
    <header class="about__header">
        <h1 class="about__header--heading"> {{$ctrl.pageHeading}}</h1>
    </header>
    <article class="about__content">
        <p class="about__content--text">{{$ctrl.pageSubHeading}}</p>
    </article>
    <section class="about_languages">
        <div class="about__language--container" ng-repeat="language in languages track by language.id">
            <p class="about__language--name">{{$ctrl.language.name}}</p>
            <img class="about__language--image" src="{{$ctrl.language.image}}" alt="{{$ctrl.language.imageDescription}}">
        </div>
    </section>
    <section class="about_frameworks">
        <div class="about__language--container" ng-repeat="framework in frameworks track by framework.id">
            <p class="about__language--name">{{$ctrl.framework.name}}</p>
            <img class="about__language--image" src="{{$ctrl.framework.image}}" alt="{{$ctrl.language.imageDescription}}">
        </div>
    </section>
</main>
