.contact__content {
    background: aqua;
}

.content__contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: aquamarine;
    overflow: scroll;
    width: 100%;
    max-width: 600px;
    border-radius: 0.6px;
    margin: 0 auto;
    padding: 20px 20px 0 20px;

    box-shadow: 0px 0px 8px -2px rgba(0, 0, 0, .2), 7px 2px 2px 0 rgba(0, 0, 0, .14), 0 6px 16px 0px rgba(0, 0, 0, .12);
    background: linear-gradient(180deg, #fefffa 90%, #ececec 10%);
}

.contact__content--remove {
  cursor: pointer;
}

label span {
  color: red;
}

.contact__field--name, .contact__field--email, .contact__field--emailtype, .contact__field--location {
  height: 35px;
  padding: 0 1em;
  background: white;
  border: 0;
}

.contact__field--name > label, .contact__field--email > label {
  display: inline-block;
  width: 80px;
  font-size: 0.8em;
}

.contact__field--name > input, .contact__field--email > input {
  border: 0;
  border-bottom: 1px solid black;
  font-size: 0.8em;
  font-weight: 300;
}

.contact__field--emailtype, .contact__field--location {
  //width: 50%
}
