
<section class="content__contact">
  <form name="contactForm" novalidate class="contact__content simple-form">

    <header class="contact__header">
        <h1> Contact me: </h1>
    </header>

    <fieldset class="contact__field--name">
        <label for="userName"> Name: <span>*</span></label>    
        <input name="userName" placeholder="Dave Smith" type="text" ng-model="user.name" ng-class="{ 'has-error' : contactForm.userName.$invalid && !contactForm.userName.$pristine, 'valid': !contactForm.userName.$invalid }" required autofocus ng-minlength="5"/> 
        <a class="contact__content--remove" ng-show="contactForm.userName.$viewValue.length > 0" ng-click="removeUserName()">X</a>
    </fieldset>

    <!-- set to only appear if they have submitted the form submit button -->
    <!--<div ng-show="contactForm.userName.$invalid && !contactForm.userName.$pristine" role="alert">
        <div ng-message="required">Your name is Required or it is less then 5 characters</div>
    </div>-->

    <fieldset class="contact__field--email">
        <label for="userEmail"> E-mail: <span>*</span></label>  
        <input name="userEmail" placeholder="example@email.com" type="email" ng-model="user.email" required maxlength="15"/>
        <a class="contact__content--remove" ng-show="!contactForm.userEmail.$invalid" ng-click="removeEmail()">X</a>
    </fieldset>

    <!-- set to only appear if they have submitted the form submit button -->
    <!--<div ng-show="contactForm.userEmail.$invalid && !contactForm.userEmail.$pristine" role="alert">
        <div ng-message="required">Your name is Required or it is less then 5 characters</div>
    </div>-->

    <fieldset class="contact__field--emailtype">
        <label for="userChoice"> Type of email: <span>*</span> </label>  
        <input name="userChoicePersonal" type="radio" ng-model="user.preference" value="personal" required/> Personal
        <input name="userChoiceJob" type="radio" ng-model="user.preference" value="job" required/> Job Related
    </fieldset>

    <fieldset class="contact__field--location">
        <label for="userLocation">Location: </label>
        <input name="userLocation" placeholder="please choose a option" list="location" ng-model="user.location" />
        <datalist id="location">
            <option value="United Kingdom">
            <option value="United States">
            <option value="France">
            <option value="Germany">
            <option value="Netherlands">
            <option value="Other">
        </datalist>
        <a class="contact__content--remove" ng-if="user.location" ng-click="removeLocation()">X</a>
    </fieldset>

    <fieldset class="contact__field--message">
        <label for="userMessage">Your message: <span>*</span></label>
        <textarea name="userMessage" placeholder="Please type your Message Here..." ng-model="user.message" tabindex="5" required></textarea>
    </fieldset>

    <button class="contact__field--reset" type="button" ng-click="reset()">
        <i class="fa fa-undo"></i>
    </button>
    <button class="contact__field--save" type="submit" ng-click="save(user)" value="Send">
        <i class="fa fa-send"></i>
    </button>
    
  </form>

</section>
