
<section class="content__contact" ng-controller="contactController">
  <form name="contactForm" novalidate class="contact__content simple-form">

    <label>
        Name: 
        <input name="userName" placeholder="text here" type="text" ng-model="user.name" ng-class="{ 'has-error' : contactForm.userName.$invalid && !contactForm.userName.$pristine, 'valid': !contactForm.userName.$invalid }" required ng-minlength="5"/> 
        <a ng-show="contactForm.userName.$viewValue.length > 0" ng-click="remove()">X</a>
    </label>
    <br />
    <!-- set to only appear if they have submitted the form submit button -->
    <div ng-show="contactForm.userName.$invalid && !contactForm.userName.$pristine" role="alert">
        <div ng-message="required">Your name is Required or it is less then 5 characters</div>
    </div>

    <label>E-mail: <input name="userEmail" type="email" ng-model="user.email" required maxlength="15"/></label><br />


    Best Editor: <label><input type="radio" ng-model="user.preference" value="vi" />vi</label>
    <label><input type="radio" ng-model="user.preference" value="emacs" />emacs</label><br />
    <input type="button" ng-click="reset()" value="Reset" />
    <input type="submit" ng-click="save(user)" value="Save" />
    <progress value="currentProgress" max="100"></progress>
  </form>
  <pre>user = {{user | json}}</pre>
  <pre>form = {{form | json}}</pre>
</section>

<!--<section class="content__contact contact" ng-controller="contactController">  

    <header class="contact__header">
        <h1> Contact me: </h1>
    </header>
    
    <form novalidate class="contact__content" action="/" method="POST">

        <fieldset>
            <input placeholder="Your name" type="text" tabindex="1" ng-model="user.name" required autofocus>
        </fieldset>


        <fieldset>
            <input placeholder="Your Email Address" type="email" tabindex="2" ng-model="user.email" required>
        </fieldset>


        <fieldset>
            <input placeholder="Your Phone Number" type="tel" tabindex="3" required>
        </fieldset>


        <fieldset>
            <datalist id="browsers">
                <option value="Internet Explorer">
                <option value="Firefox">
                <option value="Chrome">
                <option value="Opera">
                <option value="Safari">
            </datalist>
        </fieldset>


        <fieldset>
            <textarea placeholder="Type your Message Here...." tabindex="5" required></textarea>
        </fieldset>


        <fieldset>
            <label for="preference" name="choice">
                <input type="radio" ng-model="user.preference" value="vi" />vi
            </label>
            <label>
                <input type="radio" ng-model="user.preference" value="emacs" />emacs
            </label>
        </fieldset>

 
        <fieldset>
            <progress value="22" max="100"></progress>
        </fieldset>


        <fieldset>
            <button name="submit" type="submit" id="contact-submit" data-submit="...Sending" ng-click="save(user)" value="Save">Submit</button>
            <input type="button" ng-click="reset()" value="Reset" />
        </fieldset>
    </form>

    <footer class="contact__footer"> 
        Somethign funny here
    </footer>

</section>-->
