<div class="box box-1 parallax" data-speed="80"></div>
<div class="box box-2 parallax" data-speed="60"></div>
<div class="box box-3 parallax" data-speed="40"></div>
<div class="box box-4 parallax" data-speed="60"></div>
<div class="box box-5 parallax" data-speed="80"></div>
<div class="box box-6 parallax" data-speed="40"></div>
<div class="box box-7 parallax" data-speed="40"></div>
<div class="box box-8 parallax" data-speed="40"></div>
<div class="box box-9 parallax" data-speed="40"></div>
<div class="box box-10 parallax" data-speed="40"></div>
