<aside class="socialMedia__links">
    <a class="socialMedia__links--link" href="//twitter.com/EIIiotEvans">
        <i class="socialMedia__links--icon fa fa-twitter" aria-hidden="true"></i>
    </a>
    <a class="socialMedia__links--link" href="//linkedin.com/in/elliot-evans-557753a1/">
        <i class="socialMedia__links--icon fa fa-linkedin" aria-hidden="true"></i>
    </a>
    <a class="socialMedia__links--link" href="http://codepen.io/Elliot-Evans/">
        <i class="socialMedia__links--icon fa fa-codepen" aria-hidden="true"></i>
    </a>
    <a class="socialMedia__links--link" href="//github.com/Elliot-Evans-95">
        <i class="socialMedia__links--icon fa fa-github" aria-hidden="true"></i>
    </a>
</aside>