.about__links {
    background: blue;
    display: flex;
    flex: 1 0 auto;
    align-items: stretch;
    height: 100%;
}

.socialMedia-container {
    grid-area: main;
    z-index: 9999999;
    position: relative;
    top: -2.2em;
    height: 1em;
}

.about__links--icon {
    font-size: 1.5em;
}

.about__links--icon:hover {
    color: red;
}

.about__links--link {
    padding: 0;
    margin: 0;
}