.socialMedia__links {
    display: flex;
    flex: 1 0 auto;
    height: 100%;
    flex-direction: row;
    justify-content: space-around;
    width: 33.3%;
    margin: auto;
    align-items: center;
}

.socialMedia-container {
    grid-area: main;
    z-index: 9999999;
    position: relative;
    top: -2.2em;
    height: 1em;
}

.socialMedia__links--icon {
    font-size: 1.5em;
    will-change: transform, transition;
}

.socialMedia__links--icon:hover {
    opacity: .2;
    transform: rotate(35deg);
    transition: transition 550ms cubic-bezier(0.19, 1, 0.22, 1);
}

.socialMedia__links--link {
    padding: 0;
    margin: 0;
}
