.fadeTranslate-enter {
  transform: translate(150%, 0);
  transition: transform 500ms linear;
}

.fadeTranslate-enter-active {
  transform: translate(0, 0);
  transition: transform 500ms linear;
}

.fadeTranslate-exit {
  /* TODO: CLEAN THIS UP*/
  position: absolute;

  transform: translate(0, 0);
  transition: transform 500ms linear;
}

.fadeTranslate-exit-active {
  transform: translate(-200%, 0);
  transition: transform 500ms linear;
}
